/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
:root {
	--primary-color: #39adf5;
	--success-color: #4afc44;
	--warning-color: #ffda1c;
	--error-color: #ff0707;
}

.btn {
}

.btn-primary {
	border: 1px solid var(--primary-color);
}

.btn-success {
	border: 1px solid var(--success-color);
}

.btn-warning {
	border: 1px solid var(--warning-color);
}

.btn-error {
	border: 1px solid var(--error-color);
}

.w-100 {
	width: 100% !important;
}

.w-75 {
	width: 75% !important;
}

.w-50 {
	width: 50% !important;
}

.w-25 {
	width: 25% !important;
}

.w-fit {
	width: fit-content !important;
}

.fs-6 {
	font-size: 14px !important;
}

.d-flex {
	display: flex !important;
}

.justify-content-around {
	justify-content: space-around;
}

.no-style-list {
	list-style: none;
	padding-left: 0;
}

.mt-1 {
	margin-top: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}

.error {
	color: var(--error-color);
	margin-top: 1rem;
	font-size: 75%;
}

.icon {
	position: absolute;
}
